<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>To-Do List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.6.4.min.js') }}"></script>
</head>
<body>
<h1>To-Do List</h1>
<div>
    <table>
        {% if todo_list %}
        <thead>
        <tr>
            <th>TaskID</th>
            <th>Task</th>
            <th>Description</th>
            <th>Status</th>
            <th>Deadline</th>
            <th>Create Time</th>
            <th>Update Time</th>
            <th>Actions</th>
        </tr>
        </thead>
        {% for task in todo_list %}
        <tbody>
        <tr>
            <td>{{ task.task_id }}</td>
            <td>{{ task.task }}</td>
            <td>{{ task.description }}</td>
            <td>{{ task.status }}</td>
            <td>{{ task.deadline }}</td>
            <td>{{ task.create_time }}</td>
            <td>{{ task.update_time }}</td>
            <td>
                <button class="task-button-complete" data-taskid="{{ task.task_id }}">Complete</button>
            </td>
            <td>
                <button class="task-button-delete" data-taskid="{{ task.task_id }}">Delete</button>
            </td>
        </tr>
        </tbody>
        {% endfor %}

        {% else %}
        <p>No task yet!</p>
        {% endif %}
    </table>
</div>
<form method="POST" action="{{ url_for('add_task') }}">
    <label for="task">Task:</label>
    <input type="text" name="new_task"/>
    <label for="description">Description:</label>
    <input type="text" name="description"/>
    <button type="submit">Add Task</button>
</form>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>