<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <script src="./static/vue.js"></script>
    <title>ToDo List</title>
</head>

<body>
    <div id="app">
        <input type="text" placeholder="search task" v-model="keyWord">
        <form @submit.prevent="addTask">
            <input type="text" placeholder="Add new task" v-model="formData.task">
            <button type="submit">Add</button>
            <span v-if="isShowTips">Please input task!</span>
            <button @click.prevent="showMore">···</button>
            <div v-if="isShowMore">
                <textarea placeholder="Add task details" v-model="formData.detail"></textarea>
                <br>
                <input type="datetime-local" v-model="formData.deadline">
            </div>
        </form>
        <table>
            <thead>
                <tr>
                    <th>Task ID</th>
                    <th>Task</th>
                    <th>Details</th>
                    <th>Status</th>
                    <th>Deadline</th>
                    <th>Priority</th>
                    <th>Create Time</th>
                    <th>Update Time</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="task in filterTasks" :key="task.task_id">
                    <td>{{task.task_id}}</td>
                    <td>{{task.task}}</td>
                    <td>{{task.detail}}</td>
                    <td>{{task.status}}</td>
                    <td>{{task.deadline}}</td>
                    <td>{{task.priority}}</td>
                    <td>{{task.create_time}}</td>
                    <td>{{task.update_time}}</td>
                    <td>
                        <div>
                            <button v-if="!task.status" @click="completeTask(task.task_id)">Done</button>
                            <button v-else @click="reDoTask(task.task_id)">Redo</button>
                            <button @click="delTask(task.task_id)">Delete</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="./static/todolist.js"></script>
</body>

</html>