<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <script src="./static/vue.js"></script>
    <title>ToDo List</title>
</head>

<body>
    <div id="app">
        <table>
            <thead>
                <tr>
                    <th>Task ID</th>
                    <th>Task</th>
                    <th>Details</th>
                    <th>Status</th>
                    <th>Deadline</th>
                    <th>Create Time</th>
                    <th>Update Time</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="task in tasks" :key="task.task_id">
                    <td>{{task.task_id}}</td>
                    <td>{{task.task}}</td>
                    <td>{{task.detail}}</td>
                    <td>{{task.status}}</td>
                    <td>{{task.deadline}}</td>
                    <td>{{task.create_time}}</td>
                    <td>{{task.update_time}}</td>
                    <td>
                        <div>
                            <button>Done</button>
                            <button @click="delTask(task.task_id)">Delete</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <form @submit.prevent="addTask" method="POST">
            <input type="text" placeholder="Add new task" v-model="formData.task">
            <button type="submit">Add</button>
        </form>
    </div>
    <script src="./static/todolist.js"></script>
</body>

</html>